@model Venda

<form method="post" class="form-horizontal" role="form" asp-action="CheckOut">
    <h4>You're one step away from ordering awesome candy</h4>


    @*<div asp-validation-summary="All" class="danger"></div>

        <div class="form-group">
            <label asp-for="PrimeiroNome" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="PrimeiroNome" class="form-control" />
                <span asp-validation-for="PrimeiroNome" class="danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UltimoNome" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="UltimoNome" class="form-control" />
                <span asp-validation-for="UltimoNome" class="danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Endereco" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cidade" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Estado" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CEP" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Telefone" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="danger"></span>
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete Order" />
        </div>
    </div>
</form>